<div class="navbar">
  <h1><%= @list.name %></h1>
  <div class="navbar-buttons">
    <%= link_to 'add movie', new_list_bookmark_path(@list), :class => "btn btn-primary" %>
    <%= link_to 'back to lists', lists_path(@list), :class => "btn btn-primary" %>
  </div>
  
</div>

<ul class="cards">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card-movie-container">
      <li><%= link_to image_tag(movie.poster_url) %></li>
      <li class="card-name"><%= movie.title %></li>
      <div class="card-movie-info">
        <li><%= 'ðŸ¿' * movie.rating %>/10</li>
        <li><%= movie.overview %></li>
        <li><small> <%= 'My 2 cents: ' + bookmark.comment %></small></li>
      </div>
    </div>
  <% end %>
</ul>

